<div style="margin-top: 40px;"></div>
<h2>projects</h2>

<ul>
  <li>
    【Google Summer of Code (GSoC) 2024】Transforming the OpenHW High Performance Data Cache into a High Performance Instruction Cache<br>
    <ul>
      <li>
        Extending the high-performance data cache (HPDC) (developed by CEA) integrated into the CVA6/Ariane core to also function as a L1 instruction cache.
      </li>
    </ul>
  </li>
  <li>
    【Asia Pacific Conference On Circuits and Systems (APCCAS) 2024】A 250.3mW Versatile Sound Feature Extractor Using 1024-Point FFT 64-ch LogMel Filter in 40nm CMOS<br>
    <ul>
      <li>
        developed energy-efficient hardware that extracts from audio data features with frequency characteristics, specifically log mel spectrograms, used in machine learning 
      </li>
    </ul>
  </li>
</ul>

<p>→ <a href="{{ '/projects' | relative_url }}">view details...</a></p>
